body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Geomanist', sans-serif;
}


.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 3;
}

.nav{
    padding: 20px;
}

.perfil{
    position: absolute;
    background-color: #252525;
    width:15vh;
    height: 5vh;
    right: 20px;
    border-radius: 20px;
}

.today{
    position: absolute;
    color: #252525;
    font-size: 2.4vh;
    margin: 0;
    margin-top: 5px;
    left: 5%;
}

/*Contenido*/

.EventImg{
    position: fixed;
    width: 100%;
    top: 9%;
    z-index: 0;
}

.img{
    width: 100%;
    position:fixed;
}

.gradient{
    z-index: 2;
    position: fixed;
    width: 50%;
    height: 100%;
}

.eventPart{
    position: absolute;
    z-index: 3;
    color: #252525;
    left: 5%;
    width: 30%;
}

h2{
    font-size: 6vh;
    margin-top: 15vh;
}

button{
    width: 50%;
    font-size: 3vh;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 3vh;
}

p{
    font-size: 2.4vh;
    margin-bottom: 3vh;
}

h3{
    font-size: 4vh;
    margin-bottom: 3vh;
}

.table{
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 170%;
    z-index: 1;
}

.tableContent{
    position: absolute;
    color: #252525;
    width: 100%;
}

.tableTittle{
    position: absolute;
    margin-top: 10vh;
    left: 5%;
}


/*Tabla*/

.tabla-container {
    position: absolute;
    margin-top: 10%;
    left: 5%;
    right: 5%;

  }

.tabla-talleres {
    width: 100%;
    border-collapse: collapse;
  }
  
  .encabezado {
    background-color: #f2f2f2;
    height: 50px;
  }
  
  .tabla-talleres th {
    text-align: left;
    padding: 12px 16px;
    font-weight: 500;
    color: #333;
  }
  
  .tabla-talleres tbody tr {
    border-bottom: 1px solid #e0e0e0;
    height: 54px;
  }
  
  .tabla-talleres td {
    padding: 8px 16px;
    color: #333;
  }
  
  .tabla-talleres .acciones {
    width: 40px;
    text-align: center;
  }
  
  .menu-puntos {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    padding: 5px;
  }
  
  .fecha-hora {
    display: block;
  }
  
  .hora {
    color: #666;
    font-size: 0.9em;
  }

  .addTaller{
    position: absolute;
    top: 13%;
    width: 15%;
    border-radius: 30px;
    background-color: #25252500;
    border-color: #252525;
    color: #252525;
    right: 15%;
    font-size: 2vh;
    height: 5vh;
  }

  .plusadd{
    position: absolute;
    width: 35px;
    padding-left: 10px;
    top: 4px;
  }

  .graficView{
    position: absolute;
    width: 35px;
    top: 13%;
    right: 11%;
  }

  .configView{
    position: absolute;
    width: 40px;
    top: 13%;
    right: 7%;
  }

 

  .carousel{
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 100%;
    z-index: 1;
  }

  .swiperContainer {
    width: 100%;
    height: 100%; /* Ajusta la altura según lo necesites */
    
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}




/* Fondo difuminado cuando el modal está abierto */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* Contenedor del modal */
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
}

.modalContent2 {
  background: white;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
}

/* Estilo de los inputs y botones */
.modalContent input {
  width: 100%;
  padding: 8px;
  margin: 5px ;
  border-radius: 10px;
  font-size: 20px;
  height: 45px;
  margin-bottom: 10px;
  border-width: 2px;
  text-align: center;
}

.modalContent button {
  margin: 20px;
  padding: 5px;
  cursor: pointer;
}

.Mbtn{
  width: 25%;
  font-size: 2vh;
  border-color: #252525;
  background-color: #25252500;
  color: #252525;
  border-style: solid;
  border-width: 3px;
  margin-top: 0;
  
}

.formT{
  color: #252525;
  font-size: 4vh;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

.fileImg{
  position: absolute;
  width: 30%;
  height: 16%;
  background-color: #25252577;
  left: 35%;
  top: 63%;
  border-radius: 20px ;
}

.formDataMain{
  position: absolute;
  left: 35%;
  top: 20%;
  height: 30%;
  width: 30%;
  gap: 0px;
  
}



.btns{
  position: absolute;
  top: 80%;
  width: 40%;
}

.btns button{
  height: 50px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-color: #2525258d;
}

.formDataMain label{
  text-align: center;
}

.btnA{
  background-color: #25252500;
  width: 10px;
  height: 45px;
  font-size: 20px;
  color:#252525;
  border-color: #252525;
  margin: 0;
}

.alertaImg{
  margin: 10px;
}

.arrowM{
  position: absolute;
  width: 4vh;
  left: 35%;
  top: 11%;
  cursor: pointer;
}

.advice{
  color: #252525;
  position: absolute;
  left: 15%;
  top: 80%;
  font-size: 15px;
}

.arrowD{
  position: absolute;
  width: 20vh;
  height: 8vh;
  left: 45%;
  margin-top: 41%;
  z-index: 3;

}



