body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Geomanist', sans-serif;
}


.table{
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 1;
}

.tableContent{
  position: absolute;
  color: #252525;
  width: 100%;
}

.tableTittle{
  position: absolute;
  margin-top: 10vh;
  left: 5%;
}


/*Tabla*/

.tablaContainer {
  position: absolute;
  left: 0%;
  right: 0%;

}

.tablaTalleres {
  width: 100%;
  border-collapse: collapse;
}

.encabezado {
  background-color: #f2f2f2;
  height: 50px;
}

.tabla-talleres th {
  text-align: center;
  padding: 12px 16px;
  font-weight: 500;
  color: #333;
}

.tabla-talleres tbody tr {
  border-bottom: 1px solid #e0e0e0;
  height: 54px;
  text-align: center;
}

.tabla-talleres td {
  padding: 8px 16px;
  color: #333;
}

.tabla-talleres .acciones {
  width: 40px;
  text-align: center;
}

.menu-puntos {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
  padding: 5px;
}

.fecha-hora {
  display: block;
}

.hora {
  color: #666;
  font-size: 0.9em;
}

.img{
  width: 40px;
}

.edit{
  text-align: center;
}






/* 🎨 Estilos del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 30%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(164, 26, 26, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.modalContent h2 {
  margin-bottom: 10px;
  color: #252525;
  margin-top: 0;
}

.modalContent input, .modalContent select {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modalContent button {
  width: 20%;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border-color: #252525;
  border-width: 3px;
}

.modalContent button:first-of-type {
  background: #004bad00;
  color: #252525;

}

.modalContent button:last-of-type {
  background: #d9544f00;
  color: #252525;
}

.inputS{
  width: 90%;
  height: 5vh;
  background-color: #25252500;
  border-color: #252525;
  border-width: 3px;
  border-radius: 10px;
  margin-bottom: 21px;
  color: #252525;
}
.formT{
  color: #252525;
  font-size: 4vh;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
}

.arrowM{
  position: absolute;
  width: 4vh;
  left: 36%;
  top: 34.5%;
  cursor: pointer;
}

.add{
  width: 10%;
  height: 30%;
  color: #252525;
  background-color: #25252500;
  border-radius: 10px;
  border-width: 2px;
  border-color: #252525;
  margin-right: 10px;
}



