@font-face {
    font-family: 'Geomanist';
    src: url('../../fonts/Geomanist-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body{
    margin: 0;
    padding: 0;
    background-color: #F4F2EE;
    font-family: 'Geomanist';
    color: #252525;
}

.formas{
    z-index: 2;
    position: absolute;
    margin-left: 10%;
    margin-bottom: 2%;
}



.Login{
    z-index: 3;
   position: absolute;
   width: 60%;
   height: 100%;
    text-align: center;
}

.bienvenida{
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    width: 40%;
    height: 100%;
    margin-left: 60%;
    text-align: center;
}

.title1{
    margin-top: 20%;
    font-size: 8vh;
}
p{
    font-size: 2.5vh;
}
input{
    background-color: rgba(245, 222, 179, 0);
    border-radius:  15px;
    width: 80vh;
    height: 5vh;
    margin-bottom: 2vh;
    border-width: 3px;
    border-style:solid;
    padding-left: 10px;
    font-size: 2vh;
    border-color: #252525;
    color: #252525;
}

hr{
    width: 50%;
    margin-bottom: 2dvh;
}

button{
    width: 30%;
    height: 7vh;
    font-size: 3vh;
    padding: 0%;
    border-radius: 20px;
}

.title2{
    margin-top: 30%;
    font-size: 7vh;
    margin-bottom: 0;
}

.img{
    height: 400px;
    width: 400px;
}
