body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Geomanist';
    justify-content: center;
}

.recover{
    background-color: #F4F2EE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    color: #252525;
}

h2{
    font-size: 8vh;
    margin: 0;
    text-align: center;
}

input{
    background-color: rgba(245, 222, 179, 0);
    border-radius: 15px;
    width: 80vh;
    height: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-width: 3px;
    border-style: solid;
    padding-left: 10px;
    font-size: 2vh;
    border-color: #252525;
    color: #252525;
    box-sizing: border-box;
}

button{
    width: 40vh;
    padding: 15px;
    font-size: 3vh;
    border-radius: 15px;
}


@media screen and (max-width: 2400px) {
    .recover {
        width: 60%;
    }
    
    input {
        width: 50vh;
    }
    
    button {
        width: 25vh;
    }
}

@media screen and (max-width: 1500px) {
    .recover {
        width: 60%;
    }
    
    input {
        width: 45vh;
    }
    
    button {
        width: 30vh;
        font-size: 2.5vh;
    }
}


